<!DOCTYPE html>
<html lang="pt-pt">
<head>
	<meta charset="UTF-8">
	<title>Centro Académico Clínico das Beiras</title>
  <style>
    .blog {
      border: 1px solid #ddd;
      padding: 3%;
      margin-bottom: 10px;
      border-radius: 5px;
      background-color: #fcfcfc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .autor-data {
      display: flex;
      align-items: center;
    }
  
    .autor-data p {
      margin-right: 5px;
      margin-top: 0.4%;
      margin-bottom: 0%;
    }
  
    .tags {
      display: flex;
      gap: 10px;
    }
    .tags p {
      display: inline-block;
      padding: 5px;
      margin-right: 0.5%;
      color: #fff;
      border-radius: 5px;
      padding-inline: 1%;
    }
    .blog h2 {
      margin-bottom: 0%;
    }
    .pagination-button {
      padding: 8px 16px;
      background-color: #189fde;
      color: #ffffff;
      text-decoration: none;
      border-radius: 4px;
      margin: 0 4px;
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .blog-image {
      max-width: 70%;
      height: auto;
    }
    .blog-texto {
      white-space: pre-line;
    }
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body id="page-content">
    
  <header>
    <div class="logo">
      <a href="/home_page">
        <img src="imagens/logo_cacb_v1.png" alt="Logo" width="135" >
      </a>
    </div>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle">&#9776;</label>
    <nav>
      <ul>
      </li>
        <li><a href="#" data-translate="nav_informacao">Informações</a>
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/newsletter">Newsletter</a></li>
            <li><a href="/noticias" data-translate="nav_noticias">Notícias</a></li>
            <li><a href="/testemunhos" data-translate="nav_testemunhos">Testemunhos</a></li>
            <li><a href="/eventos" data-translate="nav_eventos">Eventos</a></li>
            <li><a href="/formacao" data-translate="nav_formacao">Formação</a></li>
          </ul>
        </li>
        <li><a href="#" data-translate="nav_ensaios">Ensaios Clínicos</a>
          <ul>
            <li><a href="/ensaios_clinicos" data-translate="nav_ensaios">Ensaios Clínicos</a></li>
            <li><a href="c2icb.html">C2ICB</a></li>
          </ul>
          </li>
        <li><a href="#">Linhas de Ação</a>
          <ul>
            <li><a href="linhas_acao.html" data-translate="nav_linhas">Linhas de Ação</a></li>
            <li><a href="grupos_missao.html" data-translate="nav_grupos">Grupos de Missão</a></li>
          </ul>
        </li>
        <li><a href="#" data-translate="nav_sobre">Sobre nós</a>
          <ul>
            <li><a href="instituicoes.html" data-translate="nav_instituicoes">Instituições</a></li>
            <li><a href="organigramas.html" data-translate="nav_organigramas">Organigramas</a></li>
            <li><a href="docs_estáticos/manuel_identidade_visual_cacb.pdf" target="_blank" data-translate="nav_marca">Marca Gráfica</a></li>
            <li><a href="visao_missao.html" data-translate="nav_visao">Visão e Missão</a></li>
            <li><a href="sobre_nos.html" data-translate="nav_sobre">Sobre Nós</a></li>
          </ul>
        </li>
        <li><a href="contactos.html" data-translate="nav_contactos">Contactos</a></li>
        <li><a href="#"><span class="material-symbols-outlined" style="width: 1%;">language</span></a>
        <ul>
          <li><a href="#" id="lang-pt" class="active">PT</a></li>
          <li><a href="#" id="lang-eng">ENG</a></li>
        </ul>
      </li>
        <li><a href="/login" id="login_nav">Login</a></li>
      </ul>
    </nav>
</header>
    <main>
      <h1>Blog</h1>
<div id="blog-container">
  <% if (blogs && blogs.length > 0) { %>
    <% blogs.forEach(function(blog) { %>
      <div class="blog">
        <h2><%= blog.titulo %></h2>
        <div class="autor-data">
          <p style="color: #262626;"><%= blog.autor %> |</p>
          <p><span class="data-publicacao"><%= blog.data_publicacao %></span></p>
        </div>
        <p class="blog-texto"><%= blog.texto %></p>

        <% if (blog.imagem) { %>
          <img src="<%= blog.imagem %>" alt="Imagem do post" class="blog-image">
        <% } %>
        

        <% if (blog.tag1 || blog.tag2 || blog.tag3) { %>
          <div class="tags">
            <% if (blog.tag1) { %>
              <p style="background-color: #189fde;"><%= blog.tag1 %></p>
            <% } %>
            <% if (blog.tag2) { %>
              <p style="background-color: #90a91b;"><%= blog.tag2 %></p>
            <% } %>
            <% if (blog.tag3) { %>
              <p style="background-color: #d34c16;"><%= blog.tag3 %></p>
            <% } %>
          </div>
        <% } %>

      </div>
    <% }); %>
  <% } else { %>
    <p>Nenhum blog encontrado.</p>
  <% } %>

  <div class="pagination">
    <% if (totalPages > 1) { %>
      <% if (currentPage > 1) { %>
        <a href="/blog?page=<%= currentPage - 1 %>" class="pagination-button">Anterior</a>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <a href="/blog?page=<%= currentPage + 1 %>" class="pagination-button">Seguinte</a>
      <% } %>
    <% } %>
  </div>
</div>
</main>

        
<% if (blogs.length < 10) { %>
  <footer class="footer-baixo">
    <div class="rodape">
      <span>Centro Académico Clínico das Beiras <br>
        Faculdade de Ciências da Saúde - Universidade da Beira Interior <br>
        Av. Infante D. Henrique, 6200-506 Covilhã </span>

      <span>Tel. 275 329 089 <br>
        Fax 275 329 099 <br>
        cacb@fcsaude.ubi.pt</span>
    </div>
    <p id="ultima">&copy; 2023 Centro Académico Clínico das Beiras | <a href="plano_atividades.html" style="color: #292929;">Plano de Atividades</a> | <a href="relatorio.html" style="color: #292929;">Relatório de Atividades</a> | <a href="politica_privacidade.html" style="color: #292929;">Política de Privacidade</a></p>
  </footer>
<% } else { %>
  <footer>
    <div class="rodape">
      <span>Centro Académico Clínico das Beiras <br>
        Faculdade de Ciências da Saúde - Universidade da Beira Interior <br>
        Av. Infante D. Henrique, 6200-506 Covilhã </span>

      <span>Tel. 275 329 089 <br>
        Fax 275 329 099 <br>
        cacb@fcsaude.ubi.pt</span>
    </div>
    <p id="ultima">&copy; 2023 Centro Académico Clínico das Beiras | <a href="plano_atividades.html" style="color: #292929;">Plano de Atividades</a> | <a href="relatorio.html" style="color: #292929;">Relatório de Atividades</a> | <a href="politica_privacidade.html" style="color: #292929;">Política de Privacidade</a></p>
  </footer>
<% } %>

    
    <script src="script_traducao.js"></script>
    <script>
      const dataPublicacaoElements = document.querySelectorAll('.data-publicacao');
      dataPublicacaoElements.forEach(element => {
        const dataPublicacao = element.textContent.trim();
        const dataFormatada = formatarData(dataPublicacao);
        element.textContent = dataFormatada;
      });
    </script>
        
</body>
</html>
