<!DOCTYPE html>
<html lang="pt-pt">
<head>
	<meta charset="UTF-8">
	<title>Centro Académico Clínico das Beiras</title>
    <style>
        select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
      </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_forms.css">
</head>
<body id="page-content">
    
    <header>
        <div class="logo">
          
        </div>
        <nav>
            <ul>
              <li><a href="/logout">Terminar sessão</a></li>
            </ul>
          </nav>
    </header>

	<main>
        <h1>Editar testemunhos</h1>
        <p>Este formulário dedica-se à edição de um post feito anteriormente. Poderá mudar unicamente os campos necessários.</p>
          <table class="tabela">
            <tr>
              <td class="bt_publicar">
                <form action="/editar_testemunhos" method="POST">
                  <% if (Array.isArray(testemunhos)) { %>
                    <% testemunhos.forEach(function(testemunho) { %>
                  <label for="nome_testemunho">Nome:</label>
                  <input type="text" id="nome_testemunho" name="nome_testemunho" maxlength="50" value="<%= testemunho.nome_testemunho %>" required>
          
                  <label for="opiniao">Opinião:</label>
                  <textarea id="opiniao" name="opiniao" maxlength="1000" rows="5" required><%= testemunho.opiniao %></textarea>
          
                  <label for="local_trabalho" class="campos_forms">Local de Trabalho:</label>
                  <input type="text" id="local_trabalho" name="local_trabalho"  value="<%= testemunho.local_trabalho %>" required>
          
                  <label for="funcao" class="campos_forms">Função:</label>
                  <input type="text" id="funcao" name="funcao"  value="<%= testemunho.funcao %>" required>
                  
                      <input type="hidden" name="testemunhoID" value="<%= testemunho.idt %>">
                    <% }); %>
                  <% } %>

    
              </td>
            </tr>
            <tr style="text-align: right;">
              <td>
                <div class="button-group">
                  <button type="button" class="btn-cancelar" onclick="window.location.href='/cancelar'">Cancelar</button>
                  <button type="submit" class="btn-publicar">Publicar</button>
                  
                </div>
              </td>
            </tr>
          </form>
          </table>
	</main>
	
  <script src="script.js"></script>
</body>
</html>
