<!DOCTYPE html>
<html lang="pt-pt">
<head>
	<meta charset="UTF-8">
	<title>Centro Académico Clínico das Beiras</title>
    <style>
        .ensaioClinico {
          border: 1px solid #ddd;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 5px;
          background-color: #eee;
        }
        .btn-editar{
          padding: 10px;
          border: none;
          display: block;
          text-decoration: none;
          color: #f8f8f8;
          background-color: #189fde;
          margin-bottom: 2%;
          border-radius: 5px;
          font-weight: bold;
          cursor: pointer;
        }
        .btn-apagar{
          padding: 10px;
          border: none;
          display: block;
          text-decoration: none;
          color: #f8f8f8;
          background-color: #d34c16;
          margin-bottom: 2%;
          border-radius: 5px;
          font-weight: bold;
          cursor: pointer;
        }
        .btn-apagar:hover{
          padding: 10px;
          border: none;
          display: block;
          text-decoration: none;
          color: #f8f8f8;
          background-color: #a53a10;
          margin-bottom: 2%;
          border-radius: 5px;
          font-weight: bold;
          cursor: pointer;
        }
      </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body id="page-content">
    
    <header>
        <div class="logo">
          
        </div>
        <nav>
            <ul>
              <li><a href="/cancelar">Página Pessoal</a></li>
              <li><a href="/editar_perfil">Editar Pefil</a></li>
              <li><a href="/logout">Terminar sessão</a></li>
            </ul>
          </nav>
    </header>

	<main>
        <h1>Ensaios Clínicos</h1>
        <div id="ensaios-clinicos-container">
          <% ensaiosClinicos.forEach(function(ensaioClinico) { %>
            <div class="ensaioClinico">
              <h2><%= ensaioClinico.nome_ensaio %></h2>
              <p><strong>Patologia:</strong> <%= ensaioClinico.patologia %></p>
              <p><strong>Texto Ensaio:</strong> <%= ensaioClinico.texto_ensaio %></p>
              <p><strong>Estado:</strong> <%= ensaioClinico.estado %></p>
              <table>
                <tr>
              <td style="width: 70px">
                <button type="button" class="btn-editar"  onclick="editarEnsaio('<%= ensaioClinico.idec %>')">Editar</button>
            </td>
            <td >
              <form action="/apagar_ensaio" method="POST">
                <input type="hidden" name="ensaioID" value="<%= ensaioClinico.id %>">
                <button type="submit" class="btn-apagar">Apagar</button>
              </form>
              </td>
            </tr>
            </table>
            </div>
          <% }); %>
        </div>
	</main>
	
  <script src="script.js"></script>
  <script>
    function editarEnsaio(id) {
      window.location.href = '/editar_ensaios?id=' + id;
    }
  </script>
</body>
</html>
